[GENERAL]
level_file = kanoniko.lvl
films = ./configs_files/films.cfg
walls = ./config_files/walls.cfg
animationHolder = ./configs_files/bboxes/
random = 999

#
#

[FILMS]  #same as in films.cfg, to be changed simultaneously ONLY
brick	= bricksFilm 
ball	= ballFilm
board	= boardFilm

[BALL]
start_x	= 7
start_y = 7

[BOARD]
start_x = 100
start_y = 100

[WALLS]
nine_up_x
nine_up_y
nine_down_x
nine_down_y

twelve_up_x
twelve_up_y
twelve_down_x
twelve_down_y

three_up_x
three_up_y
three_down_x
three_down_y

six_up_x
six_up_y
six_down_x
six_down_y